In [1]:

# call __init_ to set notebook seed
import set_notebook_env
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.lines import Line2D
import statsmodels.formula.api as smf
from scipy.stats import mannwhitneyu

from collections import defaultdict
import numpy as np

import set_notebook_env
loader, plot_utils = set_notebook_env.set_env(
    data_dir="../data/", 
    min_ratings=0, 
    max_ratings=None,
    drop_inconsistent_gender = True
)

np.random.get_state()[1][0]

========================================
Using seed: 18787288
========================================

18787288

In [3]:
loader.initial_setup()
loader.add_gender_code(loader.cleaned_df)

,avg_rating,avg_difficulty,num_ratings,pepper,would_take_again_prop,num_online_ratings,male,female,tough_grader,good_feedback,...,few_things,amazing_lectures,caring,extra_credit,group_projects,lecture_heavy,major,university,state,gender_code
0,3.2,3.0,4.0,0.0,NaN,0.0,1,0,2,1,...,0,0,0,0,0,0,English,Alabama State University,AL,0
1,3.5,3.3,22.0,0.0,56.0,7.0,1,0,8,13,...,0,0,3,0,1,3,English,Eastern Florida State College,FL,0
2,3.0,1.0,1.0,0.0,NaN,0.0,0,1,0,0,...,0,0,0,0,0,0,English,Colorado Mesa University,CO,1
3,4.5,3.0,1.0,0.0,NaN,0.0,0,1,0,0,...,0,0,0,0,0,0,Biology,Union County College,NJ,1
4,3.0,3.0,1.0,0.0,NaN,0.0,0,1,0,0,...,0,0,0,0,0,0,Biology,Louisiana State University of Alexandria,LA,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52083,3.5,4.0,1.0,1.0,NaN,0.0,0,1,1,0,...,0,1,0,0,0,0,Psychology,University of Washington,WA,1
52084,5.0,1.5,2.0,0.0,NaN,0.0,0,1,0,0,...,0,0,2,0,1,0,English,Gannon University,PA,1
52085,3.9,3.8,4.0,1.0,NaN,0.0,0,1,2,0,...,0,1,1,0,0,0,Psychology,University of Ottawa,ON,1
52086,4.5,2.0,2.0,0.0,NaN,0.0,1,0,1,1,...,0,0,1,0,0,0,Theater,University of Winnipeg,MB,0
52087,5.0,1.7,6.0,1.0,100.0,2.0,1,0,0,3,...,0,1,0,0,0,0,Criminal Justice,Salt Lake Community College,UT,0